{
    "openapi": "3.0.1",
    "info": {
        "title": "ScienceDB API Doc",
        "description": "ScienceDB API",
        "termsOfService": "https://www.scidb.cn/en/terms",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "//www.scidb.cn/api/sdb-openapi-service/"
        }
    ],
    "tags": [
        {
            "name": "open-api-controller",
            "description": "Open Api Controller"
        },
        {
            "name": "sushi-controller",
            "description": "Sushi Controller"
        }
    ],
    "paths": {
        "/harvest": {
            "get": {
                "tags": [
                    "open-api-controller"
                ],
                "summary": "harvest dataset by dataset's publish time period(start_time and end_time)",
                "description": "result is order by publish time desc",
                "operationId": "harvestUsingGET",
                "parameters": [
                    {
                        "name": "end_time",
                        "in": "query",
                        "description": "date format : 'yyyy-MM-dd'",
                        "allowEmptyValue": false,
                        "schema": {
                            "type": "string",
                            "default": "2099-01-01"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page No",
                        "allowEmptyValue": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "Page Size",
                        "allowEmptyValue": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    },
                    {
                        "name": "start_time",
                        "in": "query",
                        "description": "date format : 'yyyy-MM-dd'",
                        "allowEmptyValue": false,
                        "schema": {
                            "type": "string",
                            "default": "1970-01-01"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/APIResult«SearchResult»"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/json": {
            "get": {
                "tags": [
                    "open-api-controller"
                ],
                "summary": "get dataset's detail information by it's doi",
                "description": "information's format is referenced by https://schema.org/Dataset",
                "operationId": "jsonUsingGET",
                "parameters": [
                    {
                        "name": "doi",
                        "in": "query",
                        "description": "dataset's DOI",
                        "required": true,
                        "allowEmptyValue": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/metrics": {
            "get": {
                "tags": [
                    "open-api-controller"
                ],
                "summary": "search dataset metrics by doi",
                "description": "search dataset metrics by doi",
                "operationId": "metricsUsingGET",
                "parameters": [
                    {
                        "name": "doi",
                        "in": "query",
                        "description": "doi",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/APIResult«MetricsResult»"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/report/{id}": {
            "get": {
                "tags": [
                    "sushi-controller"
                ],
                "summary": "This resource returns the COUNTER Dataset Report by id",
                "operationId": "getReportByIdUsingGET",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "publisher",
                        "in": "query",
                        "description": "publisher",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SUSHIReport"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/reports": {
            "get": {
                "tags": [
                    "sushi-controller"
                ],
                "summary": "getReports",
                "description": "This resource returns a list of reports supported by the API for a given application.",
                "operationId": "getReports",
                "parameters": [
                    {
                        "name": "page[number]",
                        "in": "query",
                        "description": "page[number]",
                        "allowEmptyValue": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        }
                    },
                    {
                        "name": "page[size]",
                        "in": "query",
                        "description": "page[size]",
                        "allowEmptyValue": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SUSHIReportPage"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/search": {
            "get": {
                "tags": [
                    "open-api-controller"
                ],
                "summary": "search dataset by page",
                "description": "result is order by publish time desc",
                "operationId": "searchUsingGET",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page No",
                        "allowEmptyValue": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        }
                    },
                    {
                        "name": "range",
                        "in": "query",
                        "description": "Defines how many days of data have been published, if not set the range means search full time range",
                        "allowEmptyValue": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "Page Size",
                        "allowEmptyValue": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/APIResult«SearchResult»"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/status": {
            "get": {
                "tags": [
                    "sushi-controller"
                ],
                "summary": "getAPIStatus",
                "description": "This resource returns the current status of the reporting service supported by this API.",
                "operationId": "getAPIStatus",
                "parameters": [
                    {
                        "name": "platform",
                        "in": "query",
                        "description": "Name of the Platform the report data is being requested for.  This can be omitted if the service provides report data for only one platform.",
                        "allowEmptyValue": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status of the reporting service(s) supported by this API.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/SUSHIServiceStatus"
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        }
    },
    "components": {
        "schemas": {
            "APIResult«MetricsResult»": {
                "title": "APIResult«MetricsResult»",
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer",
                        "description": "20000 means success, other means error",
                        "format": "int32"
                    },
                    "message": {
                        "type": "string",
                        "description": "code's description in Chinese"
                    },
                    "getMessageEn": {
                        "type": "string",
                        "description": "code's description in English"
                    },
                    "data": {
                        "$ref": "#/components/schemas/MetricsResult"
                    }
                },
                "description": "the api result model"
            },
            "APIResult«SearchResult»": {
                "title": "APIResult«SearchResult»",
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer",
                        "description": "20000 means success, other means error",
                        "format": "int32"
                    },
                    "message": {
                        "type": "string",
                        "description": "code's description in Chinese"
                    },
                    "getMessageEn": {
                        "type": "string",
                        "description": "code's description in English"
                    },
                    "data": {
                        "$ref": "#/components/schemas/SearchResult"
                    }
                },
                "description": "the api result model"
            },
            "COUNTERDatasetAttributes": {
                "title": "COUNTERDatasetAttributes",
                "required": [
                    "Type",
                    "Value"
                ],
                "type": "object",
                "properties": {
                    "Type": {
                        "type": "string",
                        "description": "Item attribute types are defined by NISO Journal Article Version and other work...",
                        "example": "dataset-version",
                        "enum": [
                            "dataset-version",
                            "dataset=-type",
                            "proprietary"
                        ]
                    },
                    "Value": {
                        "type": "string",
                        "description": "Value of the item attribute",
                        "example": "VoR"
                    }
                }
            },
            "COUNTERDatasetContributors": {
                "title": "COUNTERDatasetContributors",
                "required": [
                    "Type",
                    "Value"
                ],
                "type": "object",
                "properties": {
                    "Type": {
                        "type": "string",
                        "example": "name",
                        "enum": [
                            "name",
                            "orcid",
                            "isni"
                        ]
                    },
                    "Value": {
                        "type": "string",
                        "description": "Value of the contributor identifier",
                        "example": "John Smith"
                    }
                }
            },
            "COUNTERDatasetDates": {
                "title": "COUNTERDatasetDates",
                "required": [
                    "type",
                    "value"
                ],
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "example": "pub-date",
                        "enum": [
                            "pub-date",
                            "first-accessed-online",
                            "proprietary"
                        ]
                    },
                    "value": {
                        "type": "string",
                        "description": "Value of the dataset date",
                        "example": "2002-01-15"
                    }
                }
            },
            "COUNTERDatasetIdentifiers": {
                "title": "COUNTERDatasetIdentifiers",
                "required": [
                    "type",
                    "value"
                ],
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "example": "doi",
                        "enum": [
                            "doi",
                            "proprietary",
                            "uri"
                        ]
                    },
                    "value": {
                        "type": "string",
                        "description": "Value of the dataset identifier",
                        "example": "0931-865"
                    }
                }
            },
            "COUNTERDatasetInstance": {
                "title": "COUNTERDatasetInstance",
                "type": "object",
                "properties": {
                    "access-method": {
                        "type": "string",
                        "description": "Identifies if the usage activity was 'Regular' usage - a user doing research on a content site, or if the usage activity was 'Machine' - for the purpose of retrieving content for Text and Data Mining (TDM)",
                        "example": "regular",
                        "enum": [
                            "regular",
                            "machine"
                        ]
                    },
                    "count": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "metric-type": {
                        "type": "string",
                        "enum": [
                            "total-dataset-investigations",
                            "unique-dataset-investigations",
                            "total-dataset-requests",
                            "unique-dataset-requests"
                        ]
                    }
                }
            },
            "COUNTERDatasetPerformance": {
                "title": "COUNTERDatasetPerformance",
                "required": [
                    "instance",
                    "period"
                ],
                "type": "object",
                "properties": {
                    "instance": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/COUNTERDatasetInstance"
                        }
                    },
                    "period": {
                        "$ref": "#/components/schemas/COUNTERDatasetPeriod"
                    }
                }
            },
            "COUNTERDatasetPeriod": {
                "title": "COUNTERDatasetPeriod",
                "type": "object",
                "properties": {
                    "begin-date": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "end-date": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "COUNTERDatasetReport": {
                "title": "COUNTERDatasetReport",
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "id of report."
                    },
                    "report-header": {
                        "$ref": "#/components/schemas/SUSHIReportHeader"
                    },
                    "report-datasets": {
                        "type": "array",
                        "description": "list of datasets .",
                        "items": {
                            "$ref": "#/components/schemas/COUNTERDatasetUsage"
                        }
                    }
                },
                "description": "Describes the formatting needs for the COUNTER Dataset Report. Response may include the Report_Header (optional), Report_Datasets (usage stats)."
            },
            "COUNTERDatasetUsage": {
                "title": "COUNTERDatasetUsage",
                "required": [
                    "data-type",
                    "dataset-title",
                    "performance",
                    "platform",
                    "publisher",
                    "publisher-id"
                ],
                "type": "object",
                "properties": {
                    "data-type": {
                        "type": "string",
                        "description": "Nature of the dataset being reported.",
                        "example": "Dataset",
                        "enum": [
                            "Dataset"
                        ]
                    },
                    "dataset-attributes": {
                        "type": "array",
                        "description": "Other attributes related related to the dataset.",
                        "items": {
                            "$ref": "#/components/schemas/COUNTERDatasetAttributes"
                        }
                    },
                    "dataset-contributors": {
                        "type": "array",
                        "description": "The identifier for contributor (i.e. creator) of the dataset.",
                        "items": {
                            "$ref": "#/components/schemas/COUNTERDatasetContributors"
                        }
                    },
                    "dataset-dates": {
                        "type": "array",
                        "description": "Publication or other date(s)related to the dataset.",
                        "items": {
                            "$ref": "#/components/schemas/COUNTERDatasetDates"
                        }
                    },
                    "dataset-id": {
                        "type": "array",
                        "description": "The identifier for the report dataset",
                        "items": {
                            "$ref": "#/components/schemas/COUNTERDatasetIdentifiers"
                        }
                    },
                    "dataset-title": {
                        "type": "string",
                        "description": "Name of the dataset being reported.",
                        "example": "Lake Erie Fish Community Data"
                    },
                    "performance": {
                        "type": "array",
                        "description": "The usage data related to the report dataset",
                        "items": {
                            "$ref": "#/components/schemas/COUNTERDatasetPerformance"
                        }
                    },
                    "platform": {
                        "type": "string",
                        "description": "Name of the platform",
                        "example": "Science Data Bank"
                    },
                    "publisher": {
                        "type": "string",
                        "description": "Name of publisher of the dataset",
                        "example": "Science Data Bank"
                    },
                    "publisher-id": {
                        "type": "array",
                        "description": "The identifier for the publisher.",
                        "items": {
                            "$ref": "#/components/schemas/COUNTERPublisherIdentifiers"
                        }
                    },
                    "yop": {
                        "type": "string",
                        "description": "Year of publication in the format of 'yyyy'. Use '0001' for unknown and '9999' for articles in press.",
                        "example": "2010"
                    }
                },
                "description": "Defines the output for the Report_Datasets being returned in a Dataset Report."
            },
            "COUNTERPublisherIdentifiers": {
                "title": "COUNTERPublisherIdentifiers",
                "required": [
                    "Type",
                    "Value"
                ],
                "type": "object",
                "properties": {
                    "Type": {
                        "type": "string",
                        "example": "ORCID",
                        "enum": [
                            "ISNI",
                            "ORCID",
                            "GRID"
                        ]
                    },
                    "Value": {
                        "type": "string",
                        "description": "Value of the publisher identifier",
                        "example": "1234-1234-1234-1234"
                    }
                }
            },
            "MetricsResult": {
                "title": "MetricsResult",
                "type": "object",
                "properties": {
                    "titleZh": {
                        "type": "string",
                        "description": "Chinese title of dataset"
                    },
                    "titleEn": {
                        "type": "string",
                        "description": "English title of dataset"
                    },
                    "visit": {
                        "type": "integer",
                        "description": "Number of data set accesses",
                        "format": "int32"
                    },
                    "download": {
                        "type": "integer",
                        "description": "Number of data set downloads",
                        "format": "int32"
                    },
                    "refPapers": {
                        "type": "integer",
                        "description": "The number of papers cited in the dataset",
                        "format": "int32"
                    }
                },
                "description": "wrapper of records of '/harvest' and '/search' and '/metrics' API"
            },
            "SUSHIErrorModel": {
                "title": "SUSHIErrorModel",
                "required": [
                    "Code",
                    "Message",
                    "Severity"
                ],
                "type": "object",
                "properties": {
                    "Code": {
                        "type": "integer",
                        "description": "Error number. See table of error.",
                        "format": "int32",
                        "example": 3040
                    },
                    "Data": {
                        "type": "string",
                        "description": "Additional data provided by the server to clarify the error.",
                        "example": "Usage data has not been processed for all requested months."
                    },
                    "Help_URL": {
                        "type": "string",
                        "description": "URL describing error details."
                    },
                    "Message": {
                        "type": "string",
                        "description": "Text describing the error.",
                        "example": "Partial Data Returned."
                    },
                    "Severity": {
                        "type": "string",
                        "description": "Severity of the error.",
                        "example": "Warning",
                        "enum": [
                            "Warning",
                            "Fatal",
                            "Debug",
                            "Info"
                        ]
                    }
                },
                "description": "Generalized format for presenting errors and exceptions."
            },
            "SUSHIPageMeta": {
                "title": "SUSHIPageMeta",
                "type": "object",
                "properties": {
                    "page": {
                        "type": "integer",
                        "description": "page number.",
                        "format": "int32",
                        "example": 1
                    },
                    "total": {
                        "type": "integer",
                        "description": "count of reports.",
                        "format": "int64",
                        "example": 100
                    },
                    "totalPages": {
                        "type": "integer",
                        "description": "count of pages.",
                        "format": "int32",
                        "example": 10
                    }
                },
                "description": "page wrapper of reports"
            },
            "SUSHIReport": {
                "title": "SUSHIReport",
                "type": "object",
                "properties": {
                    "report": {
                        "$ref": "#/components/schemas/COUNTERDatasetReport"
                    }
                }
            },
            "SUSHIReportHeader": {
                "title": "SUSHIReportHeader",
                "required": [
                    "release",
                    "report-id",
                    "report-name"
                ],
                "type": "object",
                "properties": {
                    "created": {
                        "type": "string",
                        "description": "Time the report was prepared",
                        "format": "date-time"
                    },
                    "created-by": {
                        "type": "string",
                        "description": "Name of the organization producing the report.",
                        "example": "Science Data Bank"
                    },
                    "exceptions": {
                        "type": "array",
                        "description": "Series of exceptions encounted when preparing the report.",
                        "items": {
                            "$ref": "#/components/schemas/SUSHIErrorModel"
                        }
                    },
                    "release": {
                        "type": "string",
                        "description": "The release or version of the report.",
                        "example": "RD1"
                    },
                    "report-attributes": {
                        "type": "array",
                        "description": "Zero or more additional attributes applied to the report. Attributes inform the level of detail in the report.",
                        "items": {
                            "type": "object",
                            "properties": {}
                        }
                    },
                    "report-filters": {
                        "type": "array",
                        "description": "Zero or more report filters used for this report.  Typically  reflect filters provided on the Request.  Filters limit the data to be reported on.",
                        "items": {
                            "type": "object",
                            "properties": {}
                        }
                    },
                    "report-id": {
                        "type": "string",
                        "description": "The report ID or code or shortname. Typically this will be the same code provided in the Report parameter of the request.",
                        "example": "DSR"
                    },
                    "report-name": {
                        "type": "string",
                        "description": "The long name of the report.",
                        "example": "Dataset Report"
                    }
                },
                "description": "Generalized report header that defines the requested report, the requestor, the customer, filters applied, reportAttributes applied and any exceptions."
            },
            "SUSHIReportList": {
                "title": "SUSHIReportList",
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "report id.",
                        "example": "sciencedb-2022-01"
                    },
                    "report-header": {
                        "$ref": "#/components/schemas/SUSHIReportHeader"
                    }
                },
                "description": "list wrapper of reports"
            },
            "SUSHIReportPage": {
                "title": "SUSHIReportPage",
                "type": "object",
                "properties": {
                    "reports": {
                        "type": "array",
                        "description": "list of reports",
                        "items": {
                            "$ref": "#/components/schemas/SUSHIReportList"
                        }
                    },
                    "meta": {
                        "$ref": "#/components/schemas/SUSHIPageMeta"
                    }
                },
                "description": "page wrapper of reports"
            },
            "SUSHIServiceStatus": {
                "title": "SUSHIServiceStatus",
                "required": [
                    "ServiceActive"
                ],
                "type": "object",
                "properties": {
                    "Alerts": {
                        "type": "array",
                        "description": "Any alerts related to service interuptions and status.",
                        "items": {
                            "type": "object",
                            "properties": {}
                        }
                    },
                    "Description": {
                        "type": "string",
                        "description": "Description of the service.",
                        "example": "COUNTER Research Data Usage Reports for the UK Data Service - ReShare."
                    },
                    "Note": {
                        "type": "string",
                        "description": "A general note about the service.",
                        "example": "A given customer can request a maximum of 5 requests per day for a given report"
                    },
                    "RegistryURL": {
                        "type": "string",
                        "description": "If available, the URL separate registry with additional information about the service.",
                        "example": "https://www.projectcounter.org/counter-user/ebsco-database/"
                    },
                    "ServiceActive": {
                        "type": "boolean",
                        "description": "Indicator if the service is currently able to deliver reports.",
                        "example": true
                    }
                }
            },
            "SearchRecord": {
                "title": "SearchRecord",
                "type": "object",
                "properties": {
                    "clicks": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "language": {
                        "type": "string"
                    },
                    "referenceNumber": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "title": {
                        "type": "string",
                        "description": "dataset's title"
                    },
                    "introduction": {
                        "type": "string",
                        "description": "dataset's introduction"
                    },
                    "keyword": {
                        "type": "string",
                        "description": "dataset's keywords, put together in quotation marks",
                        "example": "kw_1;kw_2;kw_3"
                    },
                    "author": {
                        "type": "string",
                        "description": "dataset's authors, put together in quotation marks",
                        "example": "2021-08-11 18:20:51"
                    },
                    "publishDate": {
                        "type": "string",
                        "description": "publish date in ScienceDB",
                        "example": "author_1;author_2;author_3"
                    },
                    "taxonomy": {
                        "type": "string",
                        "description": "taxonomy in ScienceDB,put together in quotation marks,format is 'code'-'taxonomy'",
                        "example": "170-Earth science;00-Others"
                    },
                    "year": {
                        "type": "string",
                        "description": "publish year in ScienceDB",
                        "example": "2021"
                    },
                    "doi": {
                        "type": "string",
                        "description": "dataset's doi",
                        "example": "10.11922/sciencedb.00101"
                    }
                },
                "description": "dataset's brief record of '/harvest' and '/search' API"
            },
            "SearchResult": {
                "title": "SearchResult",
                "type": "object",
                "properties": {
                    "pageNo": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "pageSize": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "totalPages": {
                        "type": "integer",
                        "description": "total pages of records",
                        "format": "int32"
                    },
                    "totalElements": {
                        "type": "integer",
                        "description": "total number of records",
                        "format": "int32"
                    },
                    "recommendData": {
                        "type": "array",
                        "description": "the list of current page records",
                        "items": {
                            "$ref": "#/components/schemas/SearchRecord"
                        }
                    }
                },
                "description": "wrapper of records of '/harvest' and '/search' API"
            }
        }
    },
    "x-original-swagger-version": "2.0"
}