{
    "swagger": "2.0",
    "info": {
        "description": "ScienceDB API",
        "version": "1.0.0",
        "title": "ScienceDB API Doc",
        "termsOfService": "https://www.scidb.cn/en/terms"
    },
    "host": "www.scidb.cn/api/sdb-openapi-service",
    "basePath": "/",
    "tags": [
        {
            "name": "open-api-controller",
            "description": "Open Api Controller"
        },
        {
            "name": "sushi-controller",
            "description": "Sushi Controller"
        }
    ],
    "paths": {
        "/harvest": {
            "get": {
                "tags": [
                    "open-api-controller"
                ],
                "summary": "按数据集发布时间区间（start_time 与 end_time）批量获取数据集",
                "description": "结果按发布时间降序排列",
                "operationId": "harvestUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "end_time",
                        "in": "query",
                        "description": "日期格式为 'yyyy-MM-dd'",
                        "required": false,
                        "type": "string",
                        "default": "2099-01-01",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "页码",
                        "required": false,
                        "type": "integer",
                        "default": 1,
                        "format": "int32",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "每页条数",
                        "required": false,
                        "type": "integer",
                        "default": 10,
                        "format": "int32",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "start_time",
                        "in": "query",
                        "description": "日期格式为 'yyyy-MM-dd'",
                        "required": false,
                        "type": "string",
                        "default": "1970-01-01",
                        "allowEmptyValue": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功",
                        "schema": {
                            "$ref": "#/definitions/APIResult«SearchResult»"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/json": {
            "get": {
                "tags": [
                    "open-api-controller"
                ],
                "summary": "按 DOI 获取数据集的详细信息",
                "description": "信息格式参照 https://schema.org/Dataset",
                "operationId": "jsonUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "doi",
                        "in": "query",
                        "description": "数据集的 DOI",
                        "required": true,
                        "type": "string",
                        "allowEmptyValue": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功",
                        "schema": {
                            "type": "string"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/metrics": {
            "get": {
                "tags": [
                    "open-api-controller"
                ],
                "summary": "按 DOI 查询数据集的统计指标",
                "description": "按 DOI 查询数据集的统计指标",
                "operationId": "metricsUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "doi",
                        "in": "query",
                        "description": "数据集的 DOI",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功",
                        "schema": {
                            "$ref": "#/definitions/APIResult«MetricsResult»"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/report/{id}": {
            "get": {
                "tags": [
                    "sushi-controller"
                ],
                "summary": "按 id 返回 COUNTER 数据集报告",
                "operationId": "getReportByIdUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "报告 id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "publisher",
                        "in": "query",
                        "description": "出版方",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功",
                        "schema": {
                            "$ref": "#/definitions/SUSHIReport"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/reports": {
            "get": {
                "tags": [
                    "sushi-controller"
                ],
                "summary": "获取报告列表",
                "description": "返回该 API 为指定应用支持的报告列表。",
                "operationId": "getReports",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "page[number]",
                        "in": "query",
                        "description": "页码",
                        "required": false,
                        "type": "integer",
                        "default": 1,
                        "format": "int32",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "page[size]",
                        "in": "query",
                        "description": "每页条数",
                        "required": false,
                        "type": "integer",
                        "default": 10,
                        "format": "int32",
                        "allowEmptyValue": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功",
                        "schema": {
                            "$ref": "#/definitions/SUSHIReportPage"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/search": {
            "get": {
                "tags": [
                    "open-api-controller"
                ],
                "summary": "分页搜索数据集",
                "description": "结果按发布时间降序排列",
                "operationId": "searchUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "页码",
                        "required": false,
                        "type": "integer",
                        "default": 1,
                        "format": "int32",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "range",
                        "in": "query",
                        "description": "限定最近多少天内发布的数据，不传表示搜索全部时间范围",
                        "required": false,
                        "type": "integer",
                        "format": "int64",
                        "allowEmptyValue": false
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "每页条数",
                        "required": false,
                        "type": "integer",
                        "default": 10,
                        "format": "int32",
                        "allowEmptyValue": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功",
                        "schema": {
                            "$ref": "#/definitions/APIResult«SearchResult»"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/status": {
            "get": {
                "tags": [
                    "sushi-controller"
                ],
                "summary": "获取 API 服务状态",
                "description": "返回该 API 所支持的报告服务的当前状态。",
                "operationId": "getAPIStatus",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "platform",
                        "in": "query",
                        "description": "请求报告数据所针对的平台名称。若服务只提供单一平台的报告数据，可以省略。",
                        "required": false,
                        "type": "string",
                        "allowEmptyValue": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "该 API 所支持的报告服务的状态。",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SUSHIServiceStatus"
                            }
                        }
                    }
                },
                "deprecated": false
            }
        }
    },
    "definitions": {
        "APIResult«MetricsResult»": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32",
                    "description": "20000 表示成功，其他值表示错误"
                },
                "message": {
                    "type": "string",
                    "description": "code 对应的中文说明"
                },
                "getMessageEn": {
                    "type": "string",
                    "description": "code 对应的英文说明"
                },
                "data": {
                    "description": "接口返回的数据",
                    "$ref": "#/definitions/MetricsResult"
                }
            },
            "title": "APIResult«MetricsResult»",
            "description": "接口统一返回结构"
        },
        "APIResult«SearchResult»": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32",
                    "description": "20000 表示成功，其他值表示错误"
                },
                "message": {
                    "type": "string",
                    "description": "code 对应的中文说明"
                },
                "getMessageEn": {
                    "type": "string",
                    "description": "code 对应的英文说明"
                },
                "data": {
                    "description": "接口返回的数据",
                    "$ref": "#/definitions/SearchResult"
                }
            },
            "title": "APIResult«SearchResult»",
            "description": "接口统一返回结构"
        },
        "COUNTERDatasetAttributes": {
            "type": "object",
            "required": [
                "Type",
                "Value"
            ],
            "properties": {
                "Type": {
                    "type": "string",
                    "example": "dataset-version",
                    "description": "条目属性类型，依据 NISO Journal Article Version 等规范定义……",
                    "enum": [
                        "dataset-version",
                        "dataset=-type",
                        "proprietary"
                    ]
                },
                "Value": {
                    "type": "string",
                    "example": "VoR",
                    "description": "条目属性的值"
                }
            },
            "title": "COUNTERDatasetAttributes"
        },
        "COUNTERDatasetContributors": {
            "type": "object",
            "required": [
                "Type",
                "Value"
            ],
            "properties": {
                "Type": {
                    "type": "string",
                    "example": "name",
                    "enum": [
                        "name",
                        "orcid",
                        "isni"
                    ]
                },
                "Value": {
                    "type": "string",
                    "example": "John Smith",
                    "description": "贡献者标识的值"
                }
            },
            "title": "COUNTERDatasetContributors"
        },
        "COUNTERDatasetDates": {
            "type": "object",
            "required": [
                "type",
                "value"
            ],
            "properties": {
                "type": {
                    "type": "string",
                    "example": "pub-date",
                    "enum": [
                        "pub-date",
                        "first-accessed-online",
                        "proprietary"
                    ]
                },
                "value": {
                    "type": "string",
                    "example": "2002-01-15",
                    "description": "数据集日期的值"
                }
            },
            "title": "COUNTERDatasetDates"
        },
        "COUNTERDatasetIdentifiers": {
            "type": "object",
            "required": [
                "type",
                "value"
            ],
            "properties": {
                "type": {
                    "type": "string",
                    "example": "doi",
                    "enum": [
                        "doi",
                        "proprietary",
                        "uri"
                    ]
                },
                "value": {
                    "type": "string",
                    "example": "0931-865",
                    "description": "数据集标识的值"
                }
            },
            "title": "COUNTERDatasetIdentifiers"
        },
        "COUNTERDatasetInstance": {
            "type": "object",
            "properties": {
                "access-method": {
                    "type": "string",
                    "example": "regular",
                    "description": "标识该使用行为是 'Regular'（用户在内容站点上做研究的常规访问），还是 'Machine'（为文本与数据挖掘 TDM 抓取内容）",
                    "enum": [
                        "regular",
                        "machine"
                    ]
                },
                "count": {
                    "type": "integer",
                    "format": "int64"
                },
                "metric-type": {
                    "type": "string",
                    "enum": [
                        "total-dataset-investigations",
                        "unique-dataset-investigations",
                        "total-dataset-requests",
                        "unique-dataset-requests"
                    ]
                }
            },
            "title": "COUNTERDatasetInstance"
        },
        "COUNTERDatasetPerformance": {
            "type": "object",
            "required": [
                "instance",
                "period"
            ],
            "properties": {
                "instance": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/COUNTERDatasetInstance"
                    }
                },
                "period": {
                    "$ref": "#/definitions/COUNTERDatasetPeriod"
                }
            },
            "title": "COUNTERDatasetPerformance"
        },
        "COUNTERDatasetPeriod": {
            "type": "object",
            "properties": {
                "begin-date": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2022-08-01"
                },
                "end-date": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2022-08-31"
                }
            },
            "title": "COUNTERDatasetPeriod"
        },
        "COUNTERDatasetReport": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "description": "报告 id。"
                },
                "report-header": {
                    "description": "报告头。",
                    "$ref": "#/definitions/SUSHIReportHeader"
                },
                "report-datasets": {
                    "type": "array",
                    "description": "数据集列表。",
                    "items": {
                        "$ref": "#/definitions/COUNTERDatasetUsage"
                    }
                }
            },
            "title": "COUNTERDatasetReport",
            "description": "描述 COUNTER 数据集报告的组织形式。响应可以包含 Report_Header（可选）与 Report_Datasets（使用量统计）。"
        },
        "COUNTERDatasetUsage": {
            "type": "object",
            "required": [
                "data-type",
                "dataset-title",
                "performance",
                "platform",
                "publisher",
                "publisher-id"
            ],
            "properties": {
                "data-type": {
                    "type": "string",
                    "example": "Dataset",
                    "description": "所报告数据集的类型。",
                    "enum": [
                        "Dataset"
                    ]
                },
                "dataset-attributes": {
                    "type": "array",
                    "description": "与该数据集相关的其他属性。",
                    "items": {
                        "$ref": "#/definitions/COUNTERDatasetAttributes"
                    }
                },
                "dataset-contributors": {
                    "type": "array",
                    "description": "数据集贡献者（即创建者）的标识。",
                    "items": {
                        "$ref": "#/definitions/COUNTERDatasetContributors"
                    }
                },
                "dataset-dates": {
                    "type": "array",
                    "description": "与该数据集相关的出版日期或其他日期。",
                    "items": {
                        "$ref": "#/definitions/COUNTERDatasetDates"
                    }
                },
                "dataset-id": {
                    "type": "array",
                    "description": "报告中该数据集的标识",
                    "items": {
                        "$ref": "#/definitions/COUNTERDatasetIdentifiers"
                    }
                },
                "dataset-title": {
                    "type": "string",
                    "example": "Lake Erie Fish Community Data",
                    "description": "所报告数据集的名称。"
                },
                "performance": {
                    "type": "array",
                    "description": "报告中该数据集对应的使用量数据",
                    "items": {
                        "$ref": "#/definitions/COUNTERDatasetPerformance"
                    }
                },
                "platform": {
                    "type": "string",
                    "example": "Science Data Bank",
                    "description": "平台名称"
                },
                "publisher": {
                    "type": "string",
                    "example": "Science Data Bank",
                    "description": "数据集出版方名称"
                },
                "publisher-id": {
                    "type": "array",
                    "description": "出版方的标识。",
                    "items": {
                        "$ref": "#/definitions/COUNTERPublisherIdentifiers"
                    }
                },
                "yop": {
                    "type": "string",
                    "example": 2010,
                    "description": "出版年份，格式为 'yyyy'。未知填 '0001'，在印填 '9999'。"
                }
            },
            "title": "COUNTERDatasetUsage",
            "description": "定义数据集报告中 Report_Datasets 的输出结构。"
        },
        "COUNTERPublisherIdentifiers": {
            "type": "object",
            "required": [
                "Type",
                "Value"
            ],
            "properties": {
                "Type": {
                    "type": "string",
                    "example": "ORCID",
                    "enum": [
                        "ISNI",
                        "ORCID",
                        "GRID"
                    ]
                },
                "Value": {
                    "type": "string",
                    "example": "1234-1234-1234-1234",
                    "description": "出版方标识的值"
                }
            },
            "title": "COUNTERPublisherIdentifiers"
        },
        "MetricsResult": {
            "type": "object",
            "properties": {
                "titleZh": {
                    "type": "string",
                    "description": "数据集的中文标题"
                },
                "titleEn": {
                    "type": "string",
                    "description": "数据集的英文标题"
                },
                "visit": {
                    "type": "integer",
                    "format": "int32",
                    "description": "数据集的访问次数"
                },
                "download": {
                    "type": "integer",
                    "format": "int32",
                    "description": "数据集的下载次数"
                },
                "refPapers": {
                    "type": "integer",
                    "format": "int32",
                    "description": "引用该数据集的论文数量"
                }
            },
            "title": "MetricsResult",
            "description": "'/harvest'、'/search' 与 '/metrics' 接口记录的包装结构"
        },
        "SUSHIErrorModel": {
            "type": "object",
            "required": [
                "Code",
                "Message",
                "Severity"
            ],
            "properties": {
                "Code": {
                    "type": "integer",
                    "format": "int32",
                    "example": 3040,
                    "description": "错误码，含义见错误码表。"
                },
                "Data": {
                    "type": "string",
                    "example": "Usage data has not been processed for all requested months.",
                    "description": "服务端提供的补充信息，用于进一步说明该错误。"
                },
                "Help_URL": {
                    "type": "string",
                    "description": "描述错误详情的 URL。"
                },
                "Message": {
                    "type": "string",
                    "example": "Partial Data Returned.",
                    "description": "错误的文字描述。"
                },
                "Severity": {
                    "type": "string",
                    "example": "Warning",
                    "description": "错误的严重级别。",
                    "enum": [
                        "Warning",
                        "Fatal",
                        "Debug",
                        "Info"
                    ]
                }
            },
            "title": "SUSHIErrorModel",
            "description": "错误与异常的通用表示结构。"
        },
        "SUSHIPageMeta": {
            "type": "object",
            "properties": {
                "page": {
                    "type": "integer",
                    "format": "int32",
                    "example": 1,
                    "description": "页码。"
                },
                "total": {
                    "type": "integer",
                    "format": "int64",
                    "example": 100,
                    "description": "报告总数。"
                },
                "totalPages": {
                    "type": "integer",
                    "format": "int32",
                    "example": 10,
                    "description": "总页数。"
                }
            },
            "title": "SUSHIPageMeta",
            "description": "报告的分页包装结构"
        },
        "SUSHIReport": {
            "type": "object",
            "properties": {
                "report": {
                    "$ref": "#/definitions/COUNTERDatasetReport"
                }
            },
            "title": "SUSHIReport"
        },
        "SUSHIReportHeader": {
            "type": "object",
            "required": [
                "release",
                "report-id",
                "report-name"
            ],
            "properties": {
                "created": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2022-09-01",
                    "description": "报告生成时间"
                },
                "created-by": {
                    "type": "string",
                    "example": "Science Data Bank",
                    "description": "生成该报告的机构名称。"
                },
                "exceptions": {
                    "type": "array",
                    "description": "生成报告过程中遇到的异常列表。",
                    "items": {
                        "$ref": "#/definitions/SUSHIErrorModel"
                    }
                },
                "release": {
                    "type": "string",
                    "example": "RD1",
                    "description": "报告的发布版本。"
                },
                "report-attributes": {
                    "type": "array",
                    "description": "作用于该报告的零个或多个附加属性，属性决定报告的明细程度。",
                    "items": {
                        "type": "object"
                    }
                },
                "report-filters": {
                    "type": "array",
                    "description": "该报告使用的零个或多个过滤条件，通常对应请求里传入的过滤条件，用于限定报告的数据范围。",
                    "items": {
                        "type": "object"
                    }
                },
                "report-id": {
                    "type": "string",
                    "example": "DSR",
                    "description": "报告的 ID、代码或简称，通常与请求中 Report 参数传入的代码一致。"
                },
                "report-name": {
                    "type": "string",
                    "example": "Dataset Report",
                    "description": "报告的完整名称。"
                }
            },
            "title": "SUSHIReportHeader",
            "description": "通用报告头，描述所请求的报告、请求方、客户、生效的过滤条件、生效的 reportAttributes 以及出现的异常。"
        },
        "SUSHIReportList": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "example": "sciencedb-2022-01",
                    "description": "报告 id。"
                },
                "report-header": {
                    "description": "报告头",
                    "$ref": "#/definitions/SUSHIReportHeader"
                }
            },
            "title": "SUSHIReportList",
            "description": "报告的列表包装结构"
        },
        "SUSHIReportPage": {
            "type": "object",
            "properties": {
                "reports": {
                    "type": "array",
                    "description": "报告列表",
                    "items": {
                        "$ref": "#/definitions/SUSHIReportList"
                    }
                },
                "meta": {
                    "description": "分页信息。",
                    "$ref": "#/definitions/SUSHIPageMeta"
                }
            },
            "title": "SUSHIReportPage",
            "description": "报告的分页包装结构"
        },
        "SUSHIServiceStatus": {
            "type": "object",
            "required": [
                "ServiceActive"
            ],
            "properties": {
                "Alerts": {
                    "type": "array",
                    "description": "与服务中断及状态相关的告警。",
                    "items": {
                        "type": "object"
                    }
                },
                "Description": {
                    "type": "string",
                    "example": "COUNTER Research Data Usage Reports for the UK Data Service - ReShare.",
                    "description": "服务说明。"
                },
                "Note": {
                    "type": "string",
                    "example": "A given customer can request a maximum of 5 requests per day for a given report",
                    "description": "关于该服务的一般性说明。"
                },
                "RegistryURL": {
                    "type": "string",
                    "example": "https://www.projectcounter.org/counter-user/ebsco-database/",
                    "description": "如有，指向包含该服务补充信息的独立注册表 URL。"
                },
                "ServiceActive": {
                    "type": "boolean",
                    "example": true,
                    "description": "标识该服务当前是否可以提供报告。"
                }
            },
            "title": "SUSHIServiceStatus"
        },
        "SearchRecord": {
            "type": "object",
            "properties": {
                "clicks": {
                    "type": "integer",
                    "format": "int64"
                },
                "language": {
                    "type": "string"
                },
                "referenceNumber": {
                    "type": "integer",
                    "format": "int64"
                },
                "title": {
                    "type": "string",
                    "description": "数据集标题"
                },
                "introduction": {
                    "type": "string",
                    "description": "数据集简介"
                },
                "keyword": {
                    "type": "string",
                    "example": "kw_1;kw_2;kw_3",
                    "description": "数据集关键词，整体放在引号内"
                },
                "author": {
                    "type": "string",
                    "example": "2021-08-11 18:20:51",
                    "description": "数据集作者，整体放在引号内"
                },
                "publishDate": {
                    "type": "string",
                    "example": "author_1;author_2;author_3",
                    "description": "在 ScienceDB 的发布日期"
                },
                "taxonomy": {
                    "type": "string",
                    "example": "170-Earth science;00-Others",
                    "description": "在 ScienceDB 的学科分类，整体放在引号内，格式为 'code'-'taxonomy'"
                },
                "year": {
                    "type": "string",
                    "example": 2021,
                    "description": "在 ScienceDB 的发布年份"
                },
                "doi": {
                    "type": "string",
                    "example": "10.11922/sciencedb.00101",
                    "description": "数据集的 DOI"
                }
            },
            "title": "SearchRecord",
            "description": "'/harvest' 与 '/search' 接口返回的数据集简要记录"
        },
        "SearchResult": {
            "type": "object",
            "properties": {
                "pageNo": {
                    "type": "integer",
                    "format": "int32"
                },
                "pageSize": {
                    "type": "integer",
                    "format": "int32"
                },
                "totalPages": {
                    "type": "integer",
                    "format": "int32",
                    "description": "记录总页数"
                },
                "totalElements": {
                    "type": "integer",
                    "format": "int32",
                    "description": "记录总数"
                },
                "recommendData": {
                    "type": "array",
                    "description": "当前页的记录列表",
                    "items": {
                        "$ref": "#/definitions/SearchRecord"
                    }
                }
            },
            "title": "SearchResult",
            "description": "'/harvest' 与 '/search' 接口记录的包装结构"
        }
    }
}
